pipeline/CopyPipeline_fnb.json
{
	"name": "CopyPipeline_fnb",
	"properties": {
		"activities": [
			{
				"name": "ForEach_fnb",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('tblist')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_fnb",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().source.schema}.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "myfiles/newfiles/tables/@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_fnb",
									"type": "DatasetReference",
									"parameters": {
										"cw_schema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"cw_table": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_fnb",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tbl",
								"value": {
									"value": "@concat(item().schema, '.',item().table)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"tblist": {
				"type": "Array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "BuildVersion"
					},
					{
						"schema": "dbo",
						"table": "ErrorLog"
					},
					{
						"schema": "dbo",
						"table": "TableDetails"
					},
					{
						"schema": "SalesLT",
						"table": "Address"
					},
					{
						"schema": "SalesLT",
						"table": "Product"
					},
					{
						"schema": "SalesLT",
						"table": "ProductCategory"
					}
				]
			},
			"tbl": {
				"type": "String"
			}
		},
		"annotations": []
	}
}